[submodule "vendors/imgui"]
	path = vendors/imgui
	url = https://github.com/ocornut/imgui
[submodule "vendors/implot"]
	path = vendors/implot
	url = https://github.com/epezent/implot
[submodule "vendors/glm"]
	path = vendors/glm
	url = https://github.com/icaven/glm
[submodule "vendors/ImGuizmo"]
	path = vendors/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
[submodule "vendors/tinyxml2"]
	path = vendors/tinyxml2
	url = https://github.com/leethomason/tinyxml2
[submodule "vendors/JSONParser_Mujin"]
	path = vendors/JSONParser_Mujin
	url = https://github.com/mujinGr/JSONParser_Mujin.git
[submodule "vendors/DotParser"]
	path = vendors/DotParser
	url = https://github.com/mujinGr/DotParser.git
